{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('get_report')}}" method="POST">
    <label for="datepicker"> Departure Date: </label>
    <input type="date" id="depdate" name="depdate">
    <input type="submit" value="Submit">
</form>
<br></br>
<br>
<h3>Date: {{dep_date}}</h3>
<br>

<h3>Buses related data</h3>
<br>
<table border=1>
    <thead>
        <tr>
            <td>Schedule ID</td>
            <td>Source City</td>
            <td>Destination ID</td>
            <td>Destination Name</td>
            <td>Bus ID</td>
            <td>Journey Date</td>
            <td>Start Time</td>
            <td>Available Seats</td>
            <td>Price per seat</td>
        </tr>
    </thead>
    {% for bus in all_bus_list %}
        <tr>
            <td>{{bus[0]}}</td>
            <td>{{bus[1]}}</td>
            <td>{{bus[2]}}</td>
            <td>{{bus[3]}}</td>
            <td>{{bus[4]}}</td>
            <td>{{bus[5]}}</td>
            <td>{{bus[6]}}</td>
            <td>{{bus[7]}}</td>
            <td>{{bus[8]}}</td>
        </tr>
    {% endfor %}
</table>

<br>
<br>

<h3>Travellers related data</h3>
<br>
<table border=1>
    <thead>
        <tr>
            <td>Journey Date</td>
            <td>Destination ID</td>
            <td>No. of travellers</td>
        </tr>
    </thead>
    {% for trav in all_trav_list %}
        <tr>
            <td>{{trav[0]}}</td>
            <td>{{trav[1]}}</td>
            <td>{{trav[2]}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}